
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <ul>
        <li><a href="/VtoC/DemoQueryString?id=5">DemoQueryString(Url:/VtoC/DemoQueryString?id=5)</a></li>
        <li><a href="/VtoC/DemoRouteData/5">DemoRouteData(Url:/VtoC/DemoRouteData/5)</a></li>
        <li><a href="/VtoC/BasicModelBinding">BasicModelBinding</a></li>
        <li><a href="/VtoC/BasicModelBindingByModel">BasicModelBindingByModel</a></li>
        <li><a href="/VtoC/DemoFormCollection">DemoFormCollection</a></li>
        <li><a href="/VtoC/PersonModelBinding">PersonModelBinding</a></li>
        <li><a href="/VtoC/MultiPersonModelBinding">MultiPersonModelBinding</a></li>
        <li><a href="/VtoC/ViewModelBinding">ViewModelBinding</a></li>
    </ul>
</div>
