
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li><a href="@Url.Action("GetCacheTime")">GetCacheTime</a></li>
    <li><a href="@Url.Action("GetTime")">GetCacheTimeWuthChildAction</a></li>
    <li><a href="@Url.Action("DemoHandelError")">DemoHandelError</a></li>
    <li><a href="@Url.Action("DemoException")">DemoException</a></li>
</ul>
