
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <ul>
        <li><a href="/CtoV/DemoViewData">DemoViewData</a></li>
        <li><a href="/CtoV/DemoViewBag">DemoViewBag</a></li>
        <li><a href="/CtoV/DemoVDModel">DemoVDModel</a></li>
        <li><a href="/CtoV/DemoInput">DemoInput</a></li>
        <li><a href="/CtoV/DemoStronglytyped">DemoStronglytyped</a></li>
        <li><a href="/CtoV/DemoTempDate">DemoTempDate</a></li>
        <li><a href="/CtoV/DemoTempdataProduct">DemoTempdataProduct</a></li>
        <li><a href="/CtoV/DemoSelectList">DemoSelectList</a></li>
        <li><a href="/CtoV/DemoMultiModelObject">DemoMultiModelObject</a></li>
        <li><a href="/CtoV/DemoViewModel">DemoViewModel</a></li>
    </ul>
</div>

